input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


/* Customize fonts */
label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

body {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
    background-color: white;
}


h1 { font-weight: 600; }


h2 { font-weight: 500; 
    color: #3364FF;
    font-style: bold;
    font-family: Impact, sans-serif;
    text-decoration: underline;
    }    

h3 { font-weight: 500; 
    color: #FF334C;
    font-style: bold;
    }    

h4 { font-weight: 400; 
    color: #3364FF;
    font-style: italic;
    }


h5 {font-weight: 250;}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}

/* Back Ground seetings for Color */
.content-wrapper,
.right-side {
background-color: #FDFEFE;
}